.container {
    background: rgb(19,23,68);
background: linear-gradient(90deg, rgb(25, 26, 32) 0%, rgb(34, 31, 34) 98%);
height: 100vh;
}
body {
    background: rgb(19,23,68);
    background: linear-gradient(90deg, rgb(31, 31, 34) 0%, rgb(31, 29, 31) 98%);
    height: 100vh;
}
.todo {
    margin-bottom: 400px;
    color: rgb(212, 29, 29);
}
.complate{
    background-color: rgb(41, 41, 61);
    color: burlywood;
    padding: 20px;
}
.button{
    background-color: rgb(29, 29, 44);
    color: rgb(215, 245, 245);
    border-radius: 50%;
    
}
.inp {
    background-color:  darkblue;
    margin-bottom: 10px;
    background-color: rgb(22, 19, 37);
}
.input {
    width: 90%;
    background-color: rgb(32, 28, 53);
    height: 40px;
    border: none;
    color: rgb(246, 217, 173);
}